<%- include('../partials/header', { pageTitle: 'Account Created - SUPER STARS', showNav: true }) %>

<div class="reg-success">
  <div class="reg-success-inner">
    <h1 class="reg-success-title">Your Account has been <strong>CREATED!</strong></h1>

    <p class="reg-success-greeting">Dear <%= greetingName %>,</p>

    <div class="reg-success-body">
      <p>Thank you for creating your DHL EOY 2025 account. An acknowledgement email has been sent to your registered email address.</p>
      <p>Please click on the button below to complete your registration.</p>
    </div>

    <a href="/application" class="btn-gold btn-gold--lg reg-success-cta">Continue</a>

    <div class="reg-success-footer">
      <p>To ensure smooth arrangement, please be reminded to complete your personal and traveling details by <strong>24 July 2026</strong>.</p>
      <p>You can log in to your account to update these details before the deadline.</p>
      <p>Should you have any enquiries, please contact our event secretariat by email <a href="mailto:<%= secretariatEmail %>" class="reg-success-link"><%= secretariatEmail %></a></p>
      <p class="reg-success-closing">Thank you and we look forward to welcoming you in Seoul, South Korea!</p>
      <p class="reg-success-signoff">Sincerely,<br>Eva Ng<br>Event Secretariat</p>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
