<% const policyCheckboxName = typeof checkboxName !== 'undefined' ? checkboxName : 'socialEventPolicyAccepted'; %>
<% const policyChecked = typeof checked !== 'undefined' ? checked : false; %>
<% const policyReadonly = typeof readonly !== 'undefined' ? readonly : false; %>
<% const policyRequired = typeof required !== 'undefined' ? required : false; %>

<div class="reg-agreement reg-agreement--social-policy">
  <label class="reg-checkbox-label reg-checkbox-label--block<%= policyReadonly ? ' reg-checkbox-label--readonly' : '' %>">
    <input
      type="checkbox"
      name="<%= policyCheckboxName %>"
      value="1"
      class="accent-gold"
      <%= policyChecked ? 'checked' : '' %>
      <%= policyReadonly ? 'disabled' : '' %>
      <%= policyRequired ? 'required' : '' %>
    >
    <span>I have participated the <a href="https://dpdhl.csod.com/ui/lms-learning-details/app/curriculum/15947077-3cf8-4be6-a3c1-9c5568432c08" class="application-intro-link" target="_blank" rel="noopener noreferrer">Social Event Policy training</a> and hereby acknowledge and agree to uphold the principles of the DHL Code of Conduct (available on <a href="https://connect.dpdhl.com/content/page/62207508272acd5b33f53f59" class="application-intro-link" target="_blank" rel="noopener noreferrer">Smart Connect</a>) for the Employee of the Year 2025 event.</span>
  </label>
</div>
